@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang đổi mật khẩu</title>

    <!-- Bootstrap-->
    <link rel="stylesheet" href="~/Contents/bootstrap/bootstrap.min.css">

    <!-- fontawesome-->
    <link href="~/Contents/fontawesome-free-6.4.2-web/css/all.min.css" rel="stylesheet" />

    <!-- style main -->
    <link rel="stylesheet" href="~/Contents/main/css/user-login.css">

    <!-- Jquery-->
    <script src="~/Scripts/pluto/js/jquery.js"></script>

    <!-- Libart-->
    <script src="~/Scripts/libary.js"></script>
</head>
<body>
    <div id="wrapper"></div>
</body>
</html>
<script>
    var root = $('#wrapper');
    var daucach = '&nbsp;';
    var error = null;
    var success = null;
    var errorOldPassword = daucach;
    var errorNewPassword = daucach;
    var errorRepeatPassword = daucach;
    var oldPassword = "";
    var newPassword = "";
    var repeatPassword = "";
    var createContent = function () {
        return `
            <form style="margin-left:20px ; margin-right:20px ; border-radius: 20px;" action="" id="form-login" class="d-flex flex-column">
                <h1 class="form-heading">Đổi mật khẩu</h1>
                ${error ? `
                    <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
                        ${error}
                        <button type="button" class="btn-close"><i class="fa-solid fa-xmark" style="color: #ffffff;"></i></button>
                    </div>` : ""}
                ${success ? `
                    <div class="alert alert-success bg-success text-light border-0 alert-dismissible fade show" role="alert">
                        ${success}
                        <button type="button" class="btn-close"><i class="fa-solid fa-xmark" style="color: #ffffff;"></i></button>
                    </div>` : ""}
                <div class="form-group">
                    <div class="input-text d-flex flex-row flex-nowrap align-items-baseline">
                        <input type="password" class="form-input" name="oldPassword" id="oldPassword" placeholder="Nhập mật khẩu hiện tại" value="${oldPassword}">
                        <div class="eye">
                            <i class="far fa-eye"></i>
                        </div>
                    </div>
                </div>
                <span class="text-danger" id="errorOldPassword">${errorOldPassword}</span>
                <div class="form-group">
                    <div class="input-text d-flex flex-row flex-nowrap align-items-baseline">
                        <input type="password" class="form-input" name="newPassword" id="newPassword" placeholder="Nhập mật khẩu mới" value="${newPassword}">
                        <div class="eye">
                            <i class="far fa-eye"></i>
                        </div>
                    </div>
                </div>
                <span class="text-danger" id="errorNewPassword">${errorNewPassword}</span>
                <div class="form-group">
                    <div class="input-text d-flex flex-row flex-nowrap align-items-baseline">
                        <input type="password" class="form-input" name="repeatPassword" id="repeatPassword" placeholder="Nhập lại mật khẩu mới" value="${repeatPassword}">
                        <div class="eye">
                            <i class="far fa-eye"></i>
                        </div>
                    </div>
                </div>
                <span class="text-danger" id="errorRepeatPassword">${errorRepeatPassword}</span>
                <div class="btns d-flex flex-column">
                    <button type="button" class="form-submit btn-submit">Đổi mật khẩu</button>
                    <a class="cancel bg-danger" href="/Home">Hủy bỏ</a>
                </div>

                <div class="funs-forget float-right text-right" style="font-size: 14px; text-align: right">
                    <a style="color: aqua;" href="@ProgramWEB.Define.DefinePage.user_ForgetPassword.url">Quên Mật Khẩu</a>
                </div>
            </form>
        `
    }
    var action = function () {
        $(document).ready(function () {
            var oldPasswordInput = $('#oldPassword')
            var newPasswordInput = $('#newPassword')
            var repeatPasswordInput = $('#repeatPassword')
            $('.btn-close').click(function () {
                error = null;
                load();
            });
            $('.eye').click(function () {
                $(this).toggleClass('open');
                $(this).children('i').toggleClass('fa-eye-slash fa-eye');
                if ($(this).hasClass('open')) {
                    $(this).prev().attr('type', 'text');
                } else {
                    $(this).prev().attr('type', 'password');
                }
            });
            $('.btn-submit').click(function () {
                oldPassword = oldPasswordInput.val();
                newPassword = newPasswordInput.val();
                repeatPassword = repeatPasswordInput.val();
                errorOldPassword = daucach;
                errorNewPassword = daucach;
                errorRepeatPassword = daucach;
                error = null;
                if (oldPassword.length < 6) {
                    errorOldPassword = 'Mật khẩu phải có tối thiểu 6 ký tự';
                }
                if (newPassword.length < 6) {
                    errorNewPassword = 'Mật khẩu phải có tối thiểu 6 ký tự';
                }
                if (repeatPassword != newPassword) {
                    errorRepeatPassword = 'Mật khẩu lặp lại phải trùng với mật khẩu mới';
                }
                if (errorOldPassword == daucach && errorNewPassword == daucach && errorRepeatPassword == daucach) {
                    var data = {
                        oldPassword: oldPassword,
                        newPassword: newPassword,
                    }
                    $.ajax({
                        url: "/User/ToChangePassword",
                        data: data,
                        type: "POST",
                        dataType: 'json',
                        success: function (data) {
                            if (data['error']) {
                                error = data['error']
                                load()
                            }
                            if (data['success']) {

                                success = data['success']
                                oldPassword = "";
                                newPassword = "";
                                repeatPassword = "";
                                load()
                            }
                        },
                        error: function (data) {
                            if (data['error']) {
                                error = data['error']
                                load()
                            }
                        }
                    })
                }
                load()
            })
        })
    }
    var load = function () {
        root.html(createContent())
        action()
    }
    load()
</script>