@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang khôi phục tài khoản</title>

    <!-- Bootstrap-->
    <link rel="stylesheet" href="~/Contents/bootstrap/bootstrap.min.css">

    <!-- fontawesome-->
    <link href="~/Contents/fontawesome-free-6.4.2-web/css/all.min.css" rel="stylesheet" />

    <!-- style main -->
    <link rel="stylesheet" href="~/Contents/main/css/user-login.css">

    <!-- Jquery-->
    <script src="~/Scripts/pluto/js/jquery.js"></script>

    <!-- Libart-->
    <script src="~/Scripts/libary.js"></script>

</head>
<body>
    <div id="wrapper"></div>
</body>
</html>
<script>
    var root = $('#wrapper');
    var daucach = '&nbsp;';
    var error = "@ViewBag.error";
    var success = null;
    var errorEmail = daucach;
    var email = "";
    var createContent = function () {
        return `
            <form style="margin-left:20px ; margin-right:20px ; border-radius: 20px;" method="POST" action="@ProgramWEB.Define.DefinePage.user_ForgetPassword.url" id="form-login" class="d-flex flex-column">
                <h1 class="form-heading">Đặt lại mật khẩu</h1>
                ${error ? `
                    <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
                        ${error}
                        <button type="button" class="btn-close"><i class="fa-solid fa-xmark" style="color: #ffffff;"></i></button>
                    </div>` : ""}
                ${success ? `
                    <div class="alert alert-success bg-success text-light border-0 alert-dismissible fade show" role="alert">
                        ${success}
                        <button type="button" class="btn-close"><i class="fa-solid fa-xmark" style="color: #ffffff;"></i></button>
                    </div>` : ""}
                <div class="form-group">
                    <div class="input-text d-flex flex-row flex-nowrap align-items-baseline">
                        <i class="fa-regular fa-envelope"></i>
                        <input type="email" class="form-input" name="email" id="email" placeholder="Nhập email của bạn" value="${email}">
                    </div>
                </div>
                <span class="text-danger" id="errorEmail">${errorEmail}</span>
                <div class="btns d-flex flex-column">
                    <button type="button" class="form-submit btn-submit">Xác nhận</button>
                    <a class="cancel bg-danger" href="/Home">Hủy bỏ</a>
                </div>
            </form>
        `
    }
    var action = function () {
        $(document).ready(function () {
            var emailInput = $('#email')
            $('.btn-close').click(function () {
                error = null;
                load();
            })
            $('.btn-submit').click(function () {
                email = emailInput.val();
                errorEmail = daucach;
                error = null;
                if (email.length == 0) {
                    errorEmail = 'Email không được để trống.'
                }
                else if (!validateEmail(email)) {
                    errorEmail = 'Email không đúng định dạng'
                }
                if (errorEmail == daucach)
                    $('form').submit();
                load();
            })
        })
    }
    var load = function () {
        root.html(createContent())
        action()
    }
    load()
</script>