
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang quên mật khẩu</title>
    <link rel="stylesheet" href="~/Contents/fontawesome-free-6.4.2-web/~/Contents/pluto/css/all.min.css">
    <link rel="stylesheet" href="~/Contents/bootstrap-4.4.1/dist/~/Contents/pluto/css/bootstrap.min.css">
    <link href="~/Contents/main/~/Contents/pluto/css/user-login.css" rel="stylesheet" />
    <link href="~/Contents/main/~/Contents/pluto/css/user-forget.css" rel="stylesheet" />

    <script src="~/Contents/jquery/jquery.js"></script>
    <script src="~/Contents/main/javascript/libary.js"></script>
</head>
<body>
    <div id="menu">
    </div>
</body>
</html>
<script>
    var menu = $('#menu');
    var daucach = '&nbsp;';
    var error = null;
    var code = "";
    var email = "";
    var errorId = daucach;
    var errorEmail = daucach;
    var useCode = false;
    var useEmail = false;
    var action = function () {
        $(document).ready(function () {
            $('.btn-close').click(function () {
                error = null;
                load();
            })
            $('#btn-submit').click(function () {
                code = $('#code').val();
                email = $('#email').val();
                errorId = daucach;
                errorEmail = daucach;
                if (useCode) {
                    let length = code.length;
                    if (length <= 0)
                        errorId = "Trường này không được phép để trống";
                    else if (length > 10)
                        errorId = 'Mã code không được vượt quá 10 ký tự';
                } else if (useEmail) {
                    let length = email.length;
                    if (length <= 0)
                        errorEmail = "Trường này không được phép để trống";
                    else if (!validateEmail(email))
                        errorEmail = "Email bạn nhập không đúng định dạng";
                } else {
                    error = "Bạn phải chọn một trong hai lựa chọn dưới";
                }
                if (!(error || errorId || errorEmail)) {
                    $('#form').submit();
                }
                load()
            });
            $('#radio-id').change(function () {
                if ($('#radio-id').prop('checked')) {
                    useCode = true;
                    useEmail = false;
                    errorEmail = daucach;
                    errorId = daucach;
                    email = "";
                }
                load()
            })
            $('#radio-email').change(function () {
                if ($('#radio-email').prop('checked')) {
                    useCode = false;
                    useEmail = true;
                    errorEmail = daucach;
                    errorId = daucach;
                    code = "";
                }
                load()
            })
        })
    }
    var createContent = function () {
        return `
        <div class="sub-menu">
            <p class="text-center h1 fw-bold mb-1-5 mx-1 mx-md-4 mt-4">Quên mật khẩu</p>
            <form id="form" action="#" method="post" class="d-flex flex-row mb-4 justify-content-around flex-column input-info">
                ${isNaN(error) ? `
                    <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
                        ${error}
                        <button type="button" class="btn-close"><i class="fa-solid fa-xmark" style="color: #ffffff;"></i></button>
                    </div>` : ""
                }
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radio" id="radio-id" style="border-color: #959595"
                        ${useCode ? 'checked' : ""}>
                    <label class="form-check-label" for="radio-id">
                        Use id
                    </label>
                </div>
                <div class="d-flex flex-row align-items-center input-code flex-row">
                    <div class="form-outline flex-fill mb-0">
                        <input type="text" id="code" class="input form-control" name="code" placeholder="Input your id" 
                            value="${useCode ? code : ""}" ${useCode ? "" : `disabled="disabled"`} />
                        <p class="text-danger" id="errorCode">${errorId}</p>
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radio" id="radio-email" style="border-color: #959595;"
                        ${useEmail ? 'checked' : ""}>
                    <label class="form-check-label" for="radio-email">
                        Use email
                    </label>
                </div>
                <div class="d-flex flex-row align-items-center input-email flex-row">
                    <div class="form-outline flex-fill mb-0">
                        <input type="email" id="email" class="input form-control" name="email" placeholder="Input your email" 
                            value="${useEmail ? email : ""}" ${useEmail ? "" : `disabled="disabled"`} />
                        <p class="text-danger" id="errorEmail">${errorEmail}</p>
                    </div>
                </div>
                <div class="d-flex mx-4 mb-3 mb-lg-4 flex-wrap" style="justify-content: space-evenly;">
                    <a href="#">
                        <button type="button" class="btn btn-primary btn-lg" id="btn-submit" style="background-color:#0D6EFD; border: 0;">
                            Send
                        </button>
                    </a>
                    <a href="~/Home/Index">
                        <button type="button" class="btn btn-primary btn-lg" style="background-color:#808080; border: 0;">
                            Cancel
                        </button>
                    </a>
                </div>
            </form>
        </div>
        `
    }
    var load = function () {
        menu.html(createContent())
        action()
    }
    load()
</script>
