@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row column_title">
    <a href="@ProgramWEB.Define.DefinePage.management.url">Nhấn đây để đến trang quản lý</a>
</div>