
@{
    ViewBag.Title = "LichLamViec";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cssContent {
    <link href="~/Contents/caulendar/style.css" rel="stylesheet" />
    <link href="~/Contents/main/css/management.css" rel="stylesheet" />
    <link href="~/Contents/main/css/caulendar.css" rel="stylesheet" />
}
@section jsContent {
    <script src="~/Scripts/caulendar/popper.js"></script>
    <script src="~/Scripts/caulendar/main.js"></script>
}

<div id="main">
    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                <li class="breadcrumb-item">
                    <a href="/Management/Index">Management</a>
                </li>
                <li class="breadcrumb-item active">ThanhVien</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="ftco-section p-0 row m-0">
        <div class="container l-6 m-12 c-12">
            <div class="justify-content-center">
                <div>
                    <h2 class="heading-section">Lịch làm việc</h2>
                </div>
            </div>
            <div>
                <div>
                    <div class="calendar w-100">
                        <div class="header">
                            <a data-action="prev-month" href="javascript:void(0)" title="Previous Month"><i></i></a>
                            <div class="text" data-render="month-year"></div>
                            <a data-action="next-month" href="javascript:void(0)" title="Next Month"><i></i></a>
                        </div>
                        <div class="months" data-flow="left">
                            <div class="month month-a">
                                <div class="render render-a"></div>
                            </div>
                            <div class="month month-b">
                                <div class="render render-b"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container l-6 m-12 c-12">
            <div class="justify-content-center">
                <div>
                    <h2 class="heading-section">Ca làm việc ngày 14/11/2023</h2>
                </div>
            </div>
            <div>
                <ul class="list-ca d-flex flex-column p-0">
                    <li class="ca-item">
                        <h5 class="title-ca">Ca sáng</h5>
                        <span class="ca--thoi-gian">Thời gian: 8g - 11g30p</span>
                        <ul class="list-ca-funs">
                            <li class="funs-item"><a class="btn btn-primary" href="#">Đăng ký</a></li>
                        </ul>
                        <span class="ca--trang-thai">Trạng thái: chờ đăng ký</span>
                    </li>
                    <li class="ca-item">
                        <h5 class="title-ca">Ca chiều</h5>
                        <span class="ca--thoi-gian">Thời gian: 13g30p - 17g</span>
                        <ul class="list-ca-funs">
                            <li class="funs-item"><a class="btn btn-chi-xem " href="#"><i class="fa-solid fa-check"></i>Đã đăng ký</a></li>
                            <li class="funs-item"><a class="btn btn-danger" href="#">Hủy đăng ký</a></li>
                        </ul>
                        <span class="ca--trang-thai">Trạng thái: đang chờ duyệt</span>
                    </li>
                    <li class="ca-item">
                        <h5 class="title-ca">Ca tối</h5>
                        <span class="ca--thoi-gian">Thời gian: 17g - 20g30p</span>
                        <ul class="list-ca-funs">
                            <li class="funs-item"><a class="btn btn-chi-xem " href="#"><i class="fa-solid fa-check"></i>Đã đăng ký</a></li>
                            <li class="funs-item"><a class="btn btn-secondary" href="#">Xin nghỉ</a></li>
                        </ul>
                        <span class="ca--trang-thai">Trạng thái: đã được duyệt</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container l-12 m-12 c-12 m-0 xin-nghi">
            <div class="justify-content-center">
                <div>
                    <h2 class="heading-section">Thông tin xin nghỉ</h2>
                </div>
            </div>
            <div>
                <ul class="d-flex p-0 m-0 flex-wrap list-xin-nghi">
                    <li class="xin-nghi-item l-4 m-6 c-12">
                        <div class="card-xin-nghi text-white h-100">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="me-3 d-flex flex-column">
                                        <h5 class="title-date">Ngày 15/11/2023</h5>
                                        <h6>Ca: sáng, chiều</h6>
                                        <span class="xin-nghi--trang-thai">Trạng thái: đang chờ duyệt</span>
                                        <span class="xin-nghi--thoi-gian">Thời gian:</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between small">
                                <span>Người đồng ý: <a class="person-accept" href="#"></a></span>
                            </div>
                        </div>
                    </li>
                    <li class="xin-nghi-item l-4 m-6 c-12">
                        <div class="card-xin-nghi text-white h-100">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="me-3 d-flex flex-column">
                                        <h5 class="title-date">Ngày 16/11/2023</h5>
                                        <h6>Ca: sáng</h6>
                                        <span class="xin-nghi--trang-thai">Trạng thái: đã đồng ý</span>
                                        <span class="xin-nghi--thoi-gian">Thời gian: 15/11/2023</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between small">
                                <span>Người đồng ý: <a class="person-accept" href="#">Nguyễn Văn Thường</a></span>
                            </div>
                        </div>
                    </li>
                    <li class="xin-nghi-item l-4 m-6 c-12">
                        <div class="card-xin-nghi text-white h-100">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="me-3 d-flex flex-column">
                                        <h5 class="title-date">Ngày 17/11/2023</h5>
                                        <h6>Ca: chiều</h6>
                                        <span class="xin-nghi--trang-thai">Trạng thái: đã đồng ý</span>
                                        <span class="xin-nghi--thoi-gian">Thời gian: 15/11/2023</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between small">
                                <span>Người đồng ý: <a class="person-accept" href="#">Admin</a></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>