<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://thuong2003-001-site1.etempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win8025.site4now.net:8172/msdeploy.axd?site=thuong2003-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>thuong2003-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>thuong2003-001</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="QuanLyNhanSuContext" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL8006.site4now.net;Initial Catalog=db_aa2c3b_quanlynhansu;Persist Security Info=True;User ID=db_aa2c3b_quanlynhansu_admin;Password=namdinh1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ProgramWEB.Models.Data.QuanLyNhanSuContext, ProgramWEB" Origin="" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <DebugSymbols>false</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="QuanLyNhanSuContext-Web.config Connection String">
      <ParameterValue>Data Source=SQL8006.site4now.net;Initial Catalog=db_aa2c3b_quanlynhansu;Persist Security Info=True;User ID=db_aa2c3b_quanlynhansu_admin;Password=namdinh1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>