@{ ViewBag.Title = "NhanSu"; Layout = "~/Views/Shared/_Layout.cshtml"; }
@section cssContent { 
    <link href="~/Contents/main/css/management.css" rel="stylesheet" />
}
<div id="main" class="grid wide">
    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                <li class="breadcrumb-item">
                    <a href="/Management/Index">Management</a>
                </li>
                <li class="breadcrumb-item active">ThanhVien</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->
    ﻿
    <div class="content-wrapper">
        <div class="content-header">
            <h1 class="text-dark">Danh sách thành viên</h1>
        </div>
        <!-- Main content -->
        <div class="functions">
            <ul class="list-function">
                <li class="function add"><i class="fa-solid fa-plus"></i>Thêm</li>
                <li class="function search">
                    <i class="fa-solid fa-magnifying-glass"></i>Tìm kiếm
                </li>
            </ul>
        </div>
        <div class="content">
            <div class="container-fluid" style="padding: 0">
                <div class="card card-default"
                     id="content-search"
                     style="display: none">
                    <div class="card-header">
                        <h3 class="card-title">Tìm kiếm thành viên</h3>
                        <div class="card-tools">
                            <button type="button"
                                    class="btn btn-tool btn-slide-form"
                                    data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button"
                                    class="btn btn-tool btn-close-form"
                                    data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>

                    <div class="card-body form-input" id="search">
                        <h3 class="card-title">Tìm kiếm</h3>
                        <form method="GET" action="#" id="form-undefined">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Mã</label>
                                        <input type="text"
                                               name="Ma-search-undefined"
                                               id="Ma-search-undefined"
                                               class="form-control"
                                               value=""
                                               placeholder="Nhập mã" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Tên</label>
                                        <input type="text"
                                               name="Ten-search-undefined"
                                               id="Ten-search-undefined"
                                               class="form-control"
                                               value=""
                                               placeholder="Nhập tên" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Giới tính</label>
                                        <input type="radio"
                                               name="Gioitinh-search-undefined"
                                               value="nam"
                                               id="nam-Gioitinh-search-undefined" />
                                        <label for="nam-search-undefined">Nam</label>
                                        <input type="radio"
                                               name="Gioitinh-search-undefined"
                                               value="nu"
                                               id="nu-Gioitinh-search-undefined" />
                                        <label for="nu-search-undefined">Nữ</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Ngày sinh</label>
                                        <input type="date"
                                               name="Ngaysinh-search-undefined"
                                               id="Ngaysinh-search-undefined"
                                               class="form-control"
                                               value=""
                                               placeholder="Nhập ngày sinh" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email"
                                               name="Email-search-undefined"
                                               id="Email-search-undefined"
                                               class="form-control"
                                               value=""
                                               placeholder="Nhập email" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Số điện thoại</label>
                                        <input type="text"
                                               name="Sodienthoai-search-undefined"
                                               id="Sodienthoai-search-undefined"
                                               class="form-control"
                                               value=""
                                               placeholder="Nhập số điện thoại" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Địa chỉ</label>
                                        <input type="text"
                                               name="Diachi-search-undefined"
                                               id="Diachi-search-undefined"
                                               class="form-control"
                                               value=""
                                               placeholder="Nhập địa chỉ" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>CCCD</label>
                                        <input type="text"
                                               name="CCCD-search-undefined"
                                               id="CCCD-search-undefined"
                                               class="form-control"
                                               value=""
                                               placeholder="Nhập cccd" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Phụ cấp</label>
                                        <input type="text"
                                               name="Phucap-search-undefined"
                                               id="Phucap-search-undefined"
                                               class="form-control"
                                               value=""
                                               placeholder="Nhập phụ cấp" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group btns">
                                        <button class="btn btn-primary">Tìm kiếm</button>
                                        <button class="btn btn-danger"
                                                type="button"
                                                onclick="resert(this)">
                                            Đặt lại
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card card-default" id="content-add" style="display: none">
                    <div class="card-header">
                        <h3 class="card-title">Thêm thành viên</h3>
                        <div class="card-tools">
                            <button type="button"
                                    class="btn btn-tool btn-slide-form"
                                    data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button"
                                    class="btn btn-tool btn-close-form"
                                    data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>

                    <div class="card-body form-input" id="add">
                        <h3 class="card-title">Thêm</h3>
                        <form method="GET" action="#" id="form-undefined">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Mã</label>
                                        <input type="text"
                                               name="Ma-add-undefined"
                                               id="Ma-add-undefined"
                                               class="form-control"
                                               value=""
                                               placeholder="Nhập mã" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Tên</label>
                                        <input type="text"
                                               name="Ten-add-undefined"
                                               id="Ten-add-undefined"
                                               class="form-control"
                                               value=""
                                               placeholder="Nhập tên" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Giới tính</label>
                                        <input type="radio"
                                               name="Gioitinh-add-undefined"
                                               value="nam"
                                               id="nam-Gioitinh-add-undefined" />
                                        <label for="nam-add-undefined">Nam</label>
                                        <input type="radio"
                                               name="Gioitinh-add-undefined"
                                               value="nu"
                                               id="nu-Gioitinh-add-undefined" />
                                        <label for="nu-add-undefined">Nữ</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Ngày sinh</label>
                                        <input type="date"
                                               name="Ngaysinh-add-undefined"
                                               id="Ngaysinh-add-undefined"
                                               class="form-control"
                                               value=""
                                               placeholder="Nhập ngày sinh" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email"
                                               name="Email-add-undefined"
                                               id="Email-add-undefined"
                                               class="form-control"
                                               value=""
                                               placeholder="Nhập email" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Số điện thoại</label>
                                        <input type="text"
                                               name="Sodienthoai-add-undefined"
                                               id="Sodienthoai-add-undefined"
                                               class="form-control"
                                               value=""
                                               placeholder="Nhập số điện thoại" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Địa chỉ</label>
                                        <input type="text"
                                               name="Diachi-add-undefined"
                                               id="Diachi-add-undefined"
                                               class="form-control"
                                               value=""
                                               placeholder="Nhập địa chỉ" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>CCCD</label>
                                        <input type="text"
                                               name="CCCD-add-undefined"
                                               id="CCCD-add-undefined"
                                               class="form-control"
                                               value=""
                                               placeholder="Nhập cccd" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Phụ cấp</label>
                                        <input type="text"
                                               name="Phucap-add-undefined"
                                               id="Phucap-add-undefined"
                                               class="form-control"
                                               value=""
                                               placeholder="Nhập phụ cấp" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group btns">
                                        <button class="btn btn-primary">Thêm</button>
                                        <button class="btn btn-danger"
                                                type="button"
                                                onclick="resert(this)">
                                            Đặt lại
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <b style="padding-top: 20px; font-size: 20px">Tổng số: 1000 thành viên</b>
                        <div class="header-functions d-flex flex-row align-items-center">
                            <span class="tablet-mr-10 page-size form-outline d-flex flex-nowrap align-items-center"
                                  style="border: 1px solid #d9d9d9; border-radius: 40px; padding: 8px; margin-right: 10px; ">
                                <label for="so-luong-hang"
                                       style="font-size: 16px; font-weight: 600">Số lượng hàng &nbsp;</label>
                                <input type="number"
                                       name="so-luong-hang"
                                       id="so-luong-hang"
                                       class="form-control"
                                       style="max-width: 50px; padding: 0"
                                       min="1"
                                       max="100"
                                       value="10" />
                                &nbsp;
                                <a href="#!"
                                   id="btn-accept-size-page"
                                   class="btn btn-primary"
                                   style="border-radius: 30px">Xác nhận</a>
                            </span>
                            <span class="tablet-mr-10 sort-by d-flex flex-nowrap"
                                  style=" border: 1px solid #d9d9d9; border-radius: 40px; padding: 8px; margin-right: 10px; ">
                                <input type="checkbox"
                                       name="sap-xep-tang-giam"
                                       id="sap-xep-tang-giam" />
                                <label for="sap-xep-tang-giam"
                                       style="margin-right: 10px; font-size: 16px; font-weight: 600">&nbsp; Sắp xếp giảm dần</label>
                            </span>
                            <div class="tablet-mr-10 header-sort d-block"
                                 style="margin-right: 10px">
                                <span class="text-sort position-relative d-flex flex-row align-items-center"
                                      onclick="event.stopPropagation()">
                                    <i class="fa-solid fa-sort" style="margin-right: 5px"> </i>Sắp
                                    xếp
                                </span>
                                <ul class="header-sort-list position-absolute d-flex flex-column z-3">
                                    <li>
                                        <label for="Ma-sort">Mã</label>
                                        <input class="sort-item"
                                               type="checkbox"
                                               name="Ma-sort"
                                               id="Ma-sort"
                                               value="Mã" />
                                    </li>

                                    <li>
                                        <label for="Ten-sort">Tên</label>
                                        <input class="sort-item"
                                               type="checkbox"
                                               name="Ten-sort"
                                               id="Ten-sort"
                                               value="Tên" />
                                    </li>

                                    <li>
                                        <label for="Gioitinh-sort">Giới tính</label>
                                        <input class="sort-item"
                                               type="checkbox"
                                               name="Gioitinh-sort"
                                               id="Gioitinh-sort"
                                               value="Giới tính" />
                                    </li>

                                    <li>
                                        <label for="Ngaysinh-sort">Ngày sinh</label>
                                        <input class="sort-item"
                                               type="checkbox"
                                               name="Ngaysinh-sort"
                                               id="Ngaysinh-sort"
                                               value="Ngày sinh" />
                                    </li>

                                    <li>
                                        <label for="Email-sort">Email</label>
                                        <input class="sort-item"
                                               type="checkbox"
                                               name="Email-sort"
                                               id="Email-sort"
                                               value="Email" />
                                    </li>

                                    <li>
                                        <label for="Sodienthoai-sort">Số điện thoại</label>
                                        <input class="sort-item"
                                               type="checkbox"
                                               name="Sodienthoai-sort"
                                               id="Sodienthoai-sort"
                                               value="Số điện thoại" />
                                    </li>

                                    <li>
                                        <label for="Diachi-sort">Địa chỉ</label>
                                        <input class="sort-item"
                                               type="checkbox"
                                               name="Diachi-sort"
                                               id="Diachi-sort"
                                               value="Địa chỉ" />
                                    </li>

                                    <li>
                                        <label for="CCCD-sort">CCCD</label>
                                        <input class="sort-item"
                                               type="checkbox"
                                               name="CCCD-sort"
                                               id="CCCD-sort"
                                               value="CCCD" />
                                    </li>

                                    <li>
                                        <label for="Phucap-sort">Phụ cấp</label>
                                        <input class="sort-item"
                                               type="checkbox"
                                               name="Phucap-sort"
                                               id="Phucap-sort"
                                               value="Phụ cấp" />
                                    </li>

                                    <li class="btn-sort">Sắp xếp</li>
                                </ul>
                            </div>
                            <div class="tablet-mr-10 header-view d-block">
                                <span class="text-view position-relative d-flex flex-row align-items-center"
                                      onclick="event.stopPropagation()">
                                    <i class="fa-solid fa-caret-down" style="margin-right: 5px">
                                    </i>Hiển thị
                                </span>
                                <ul class="header-view-list position-absolute d-flex flex-column z-3">
                                    <li>
                                        <label for="select-all">Chọn tất cả</label>
                                        <input class="view-item"
                                               type="checkbox"
                                               name="select-all"
                                               id="select-all" />
                                    </li>

                                    <li>
                                        <label for="Ma-view">Mã</label>
                                        <input class="view-item"
                                               type="checkbox"
                                               name="Ma-view"
                                               id="Ma-view"
                                               value="Mã"
                                               checked="" />
                                    </li>

                                    <li>
                                        <label for="Ten-view">Tên</label>
                                        <input class="view-item"
                                               type="checkbox"
                                               name="Ten-view"
                                               id="Ten-view"
                                               value="Tên"
                                               checked="" />
                                    </li>

                                    <li>
                                        <label for="Gioitinh-view">Giới tính</label>
                                        <input class="view-item"
                                               type="checkbox"
                                               name="Gioitinh-view"
                                               id="Gioitinh-view"
                                               value="Giới tính"
                                               checked="" />
                                    </li>

                                    <li>
                                        <label for="Ngaysinh-view">Ngày sinh</label>
                                        <input class="view-item"
                                               type="checkbox"
                                               name="Ngaysinh-view"
                                               id="Ngaysinh-view"
                                               value="Ngày sinh"
                                               checked="" />
                                    </li>

                                    <li>
                                        <label for="Email-view">Email</label>
                                        <input class="view-item"
                                               type="checkbox"
                                               name="Email-view"
                                               id="Email-view"
                                               value="Email"
                                               checked="" />
                                    </li>

                                    <li>
                                        <label for="Sodienthoai-view">Số điện thoại</label>
                                        <input class="view-item"
                                               type="checkbox"
                                               name="Sodienthoai-view"
                                               id="Sodienthoai-view"
                                               value="Số điện thoại"
                                               checked="" />
                                    </li>

                                    <li>
                                        <label for="Diachi-view">Địa chỉ</label>
                                        <input class="view-item"
                                               type="checkbox"
                                               name="Diachi-view"
                                               id="Diachi-view"
                                               value="Địa chỉ"
                                               checked="" />
                                    </li>

                                    <li>
                                        <label for="CCCD-view">CCCD</label>
                                        <input class="view-item"
                                               type="checkbox"
                                               name="CCCD-view"
                                               id="CCCD-view"
                                               value="CCCD"
                                               checked="" />
                                    </li>

                                    <li>
                                        <label for="Phucap-view">Phụ cấp</label>
                                        <input class="view-item"
                                               type="checkbox"
                                               name="Phucap-view"
                                               id="Phucap-view"
                                               value="Phụ cấp"
                                               checked="" />
                                    </li>

                                    <li id="btn-view">Hiển thị</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <form method="POST"
                              action="https://1900.com.vn/admin/jobs/update-career">
                            <div class="table-responsive-xl">
                                <table class="table table-hover" id="table-job">
                                    <thead>
                                        <tr class="align-center">
                                            <th width="50">
                                                <label class="icheck-primary mb-0 d-block">
                                                    <input type="checkbox"
                                                           value="all"
                                                           id="table-select-all" />
                                                </label>
                                            </th>
                                            <th>Mã</th>
                                            <th>Tên</th>
                                            <th>Giới tính</th>
                                            <th>Ngày sinh</th>
                                            <th>Email</th>
                                            <th>Số điện thoại</th>
                                            <th>Địa chỉ</th>
                                            <th>CCCD</th>
                                            <th>Phụ cấp</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="admin">
                                            <td>
                                                <label class="icheck-primary mb-0 d-block">
                                                    <input id="table-select-admin"
                                                           type="checkbox"
                                                           value="admin"
                                                           name="delete[]"
                                                           class="records table-select" />
                                                </label>
                                            </td>

                                            <td class="" id="Ma-admin">admin</td>

                                            <td class="" id="Ten-admin">admin</td>

                                            <td class="" id="Gioitinh-admin"></td>

                                            <td class="" id="Ngaysinh-admin"></td>

                                            <td class="" id="Email-admin"></td>

                                            <td class="" id="Sodienthoai-admin"></td>

                                            <td class="" id="Diachi-admin"></td>

                                            <td class="" id="CCCD-admin"></td>

                                            <td class="" id="Phucap-admin"></td>

                                            <td class="d-flex flex-row flex-nowrap">
                                                <a href="/ThanhVien/Profile?ma=admin"
                                                   class="btn btn-sm mr-1"
                                                   style="
                                                        background-color: green;
                                                        color: white;
                                                        margin-right: 5px;
                                                      ">
                                                    <i class="fa-solid fa-address-card"></i>
                                                    Xem
                                                </a>
                                                <a href="#!"
                                                   class="btn btn-primary btn-sm mr-1 edit"
                                                   onclick="edit(this)">
                                                    <i class="fas fa-edit"></i>
                                                    Sửa
                                                </a>
                                                <a href="#!"
                                                   class="btn btn-sm mr-1"
                                                   style="
                                                        background-color: red;
                                                        color: white;
                                                        margin-left: 5px;
                                                      ">
                                                    <i class="fas fa-times" style="color: white"></i>
                                                    Xóa
                                                </a>
                                            </td>
                                        </tr>

                                        <tr id="TV001">
                                            <td>
                                                <label class="icheck-primary mb-0 d-block">
                                                    <input id="table-select-TV001"
                                                           type="checkbox"
                                                           value="TV001"
                                                           name="delete[]"
                                                           class="records table-select" />
                                                </label>
                                            </td>

                                            <td class="" id="Ma-TV001">TV001</td>

                                            <td class="" id="Ten-TV001">Nguyễn Văn Thường</td>

                                            <td class="" id="Gioitinh-TV001">true</td>

                                            <td class="" id="Ngaysinh-TV001">2003-11-10T00:00:00</td>

                                            <td class="" id="Email-TV001">
                                                nguyenvanthuong10112003@gmail.com
                                            </td>

                                            <td class="" id="Sodienthoai-TV001">0886454996</td>

                                            <td class="" id="Diachi-TV001">Nam Ð?nh</td>

                                            <td class="" id="CCCD-TV001">036203013524</td>

                                            <td class="" id="Phucap-TV001">400000</td>

                                            <td class="d-flex flex-row flex-nowrap">
                                                <a href="/ThanhVien/Profile?ma=TV001"
                                                   class="btn btn-sm mr-1"
                                                   style="
                                                        background-color: green;
                                                        color: white;
                                                        margin-right: 5px;
                                                      ">
                                                    <i class="fa-solid fa-address-card"></i>
                                                    Xem
                                                </a>
                                                <a href="#!"
                                                   class="btn btn-primary btn-sm mr-1 edit"
                                                   onclick="edit(this)">
                                                    <i class="fas fa-edit"></i>
                                                    Sửa
                                                </a>
                                                <a href="#!"
                                                   class="btn btn-sm mr-1"
                                                   style="
                                                        background-color: red;
                                                        color: white;
                                                        margin-left: 5px;
                                                      ">
                                                    <i class="fas fa-times" style="color: white"></i>
                                                    Xóa
                                                </a>
                                            </td>
                                        </tr>

                                        <tr id="TV002">
                                            <td>
                                                <label class="icheck-primary mb-0 d-block">
                                                    <input id="table-select-TV002"
                                                           type="checkbox"
                                                           value="TV002"
                                                           name="delete[]"
                                                           class="records table-select" />
                                                </label>
                                            </td>

                                            <td class="" id="Ma-TV002">TV002</td>

                                            <td class="" id="Ten-TV002">Nguyễn Đức Du</td>

                                            <td class="" id="Gioitinh-TV002">true</td>

                                            <td class="" id="Ngaysinh-TV002">2003-12-19T00:00:00</td>

                                            <td class="" id="Email-TV002">
                                                nguyentuankhai788@gmail.com
                                            </td>

                                            <td class="" id="Sodienthoai-TV002">0367136275</td>

                                            <td class="" id="Diachi-TV002">Nam Ð?nh</td>

                                            <td class="" id="CCCD-TV002">036203013525</td>

                                            <td class="" id="Phucap-TV002">400000</td>

                                            <td class="d-flex flex-row flex-nowrap">
                                                <a href="/ThanhVien/Profile?ma=TV002"
                                                   class="btn btn-sm mr-1"
                                                   style="
                                                        background-color: green;
                                                        color: white;
                                                        margin-right: 5px;
                                                      ">
                                                    <i class="fa-solid fa-address-card"></i>
                                                    Xem
                                                </a>
                                                <a href="#!"
                                                   class="btn btn-primary btn-sm mr-1 edit"
                                                   onclick="edit(this)">
                                                    <i class="fas fa-edit"></i>
                                                    Sửa
                                                </a>
                                                <a href="#!"
                                                   class="btn btn-sm mr-1"
                                                   style="
                                                        background-color: red;
                                                        color: white;
                                                        margin-left: 5px;
                                                      ">
                                                    <i class="fas fa-times" style="color: white"></i>
                                                    Xóa
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>

                    <!-- /.card-body -->
                    <div class="card-footer clearfix p-0"
                         style="padding-top: 10px !important">
                        <ul class="pagination pagination-sm m-0 float-right">
                            <li class="page-item" onclick="toPage(1)">
                                <a class="page-link" href="#!">&lt;&lt; First</a>
                            </li>

                            <li class="page-item" onclick="toPage(1)">
                                <a class="page-link in-here" href="#!">1</a>
                            </li>
                            <li class="page-item" onclick="toPage(2)">
                                <a class="page-link" href="#!">2</a>
                            </li>
                            <li class="page-item" onclick="toPage(3)">
                                <a class="page-link" href="#!">3</a>
                            </li>
                            <li class="page-item" onclick="toPage(4)">
                                <a class="page-link" href="#!">4</a>
                            </li>
                            <li class="page-item" onclick="toPage(5)">
                                <a class="page-link" href="#!">5</a>
                            </li>
                            <li class="page-item" onclick="toPage(6)">
                                <a class="page-link" href="#!">6</a>
                            </li>
                            <li class="page-item" onclick="toPage(7)">
                                <a class="page-link" href="#!">7</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" style="color: gray" href="#!">...</a>
                            </li>
                            <li class="page-item" onclick="toPage(100)">
                                <a class="page-link" href="#!">End &gt;&gt;</a>
                            </li>
                        </ul>
                        <button type="button"
                                class="btn btn-success btn-xuat-file float-end">
                            <span>Xuất file</span>
                            <img src="/icons/excel.png"
                                 alt="icon-excel"
                                 style="width: 32px" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section jsContent {
    <script>
        /*var load = function () {
            new Promise(
                function (myResolve, myReject) {
                    myResolve()
                }
            )
                .then(
                    function () {
                        //loadData()
                    }
                )
                .then(
                    function () {
                        setTimeout(function () {
                            loadPage();
                        }, 500)
                    },
                    function () {
                        console.log('error');
                    }
                )
        }*/
        var root = $('.content-wrapper');
        var page = 1;
        var pageSize = 10;
        var countData = 1000;
        var datas = [{}];
        var nameItems = [];
        var names = ["Mã", "Tên", "Giới tính", "Ngày sinh", "Email", "Số điện thoại", "Địa chỉ", "CCCD", "Phụ cấp"];
        var types = ["text", "text", "radio", "date", "email", "text", "text", "text", "text"];
        var count = names.length;
        var usingIndex = [0, 1, 2, 3, 4, 5, 6, 7, 8];
        var nameObj = {};
        for (let index = 0; index < count; index++) {
            nameObj[names[index]] = { type: "", id: "", using: "" }
            nameObj[names[index]].type = types[index]; 
            nameObj[names[index]].id = removeVietnameseTones(names[index].replace(/ /g, ''));
        }
        for (let item of usingIndex) {
            nameObj[names[item]].using = true;
        }
        var createForm = function (result, thaotac) {
            let html = '';
            if (result) {
                let id = result[nameObj[names[0]].id];
                let gioitinh = {};
                html = `
                        <div class="card-body form-input" id="${thaotac}">
                            <h3 class="card-title">${thaotac == 'edit' ? "Sửa thông tin" : (thaotac == 'add' ? "Thêm " : "Tìm kiếm")} </h3>
                            <form method="GET" action="#" id="form-${id}">
                                <div class="row">
                                    ${
                                    names.reduce(function (result1, item, index) {
                                        return result1 + `<div class="col-md-6">
                                            <div class="form-group">
                                                <label>${item}</label>
                                                ${
                                                [item].reduce(function () {
                                                    if (nameObj[item].type != "radio") {
                                                        return `<input type="${nameObj[item].type}" name="${nameObj[item].id}-${thaotac}-${id}" id="${nameObj[item].id}-${thaotac}-${id}" class="form-control"
                                                        value="${result['"' + nameObj[item].id + '"'] ? (result['"' + nameObj[item].id + '"']).trim() : ""
                                                    }" placeholder="Nhập ${item.toLowerCase()}">`
                                                    } else {
                                                        return `<div>
                                                            <input type="${nameObj[item].type}" name="${nameObj[item].id}-${thaotac}-${id}" value="nam" id="nam-${nameObj[item].id}-${thaotac}-${id}" ${result['"' + nameObj[item].id + '"'] ? (result['"' + nameObj[item].id + '"']).trim() == 'Nam' ? "checked" : "" : ""}>
                                                            <label for="nam-${thaotac}-${id}">Nam</label>
                                                            <input type="${nameObj[item].type}" name="${nameObj[item].id}-${thaotac}-${id}" value="nu" id="nu-${nameObj[item].id}-${thaotac}-${id}" ${result['"' + nameObj[item].id + '"'] ? (result['"' + nameObj[item].id + '"']).trim() == 'Nữ' ? "checked" : "" : ""}>
                                                            <label for="nu-${thaotac}-${id}">Nữ</label>
                                                        </div>`
                                                    }
                                                }, "")
                                                }
                                            </div>
                                        </div>`
                                    }, "")
                                    }
                                    <div class="col-md-12">
                                        <div class="form-group btns">
                                            <button class="btn btn-primary">
                                                ${thaotac == 'edit' ? "Xác nhận" : (thaotac == 'add' ? "Thêm" : "Tìm kiếm")}
                                            </button>
                                            <button class="btn btn-danger"
                                                    type="button" onclick="resert(this)">
                                                Đặt lại
                                            </button>
                                                ${thaotac == 'edit' ?
                                            `<button class="btn btn-secondary cancel"
                                                    type="button" onclick="cancel(this)">
                                                Hủy
                                            </button>` :  ""}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                `;
            }
            return html;
        }
        var loadPage = function () {
            $('#content-add').html($('#content-add').html() + createForm({}, 'add'));
            $('#content-search').html($('#content-search').html() + createForm({}, 'search'));
            $('#content-search').slideUp(0);
            $('.header-sort-list').addClass('d-none');
            $('.header-view-list').addClass('d-none');
            $(document).ready(ready);
        }
        var ready = function () {
            function upDown(parent, child) {
                if (child) {
                    parent.children(`.${child.attr('class').replace(' ', '.')}`).slideToggle();
                } else
                    parent.slideToggle();
            }
            $('.btn-slide-form').click(function (e) {
                upDown($(e.currentTarget).parent().parent().parent(), $('.form-input'));
                $(e.currentTarget).children('i').attr('class',
                    $(e.currentTarget).children('i')
                        .attr('class') == 'fas fa-minus' ? 'fa-solid fa-plus' : 'fas fa-minus'
                );
            })
            $('.btn-close-form').click(function (e) {
                if ($(e.currentTarget).parent().parent().parent().attr('id') == 'content-add') {
                    $('#part-add').addClass('d-none');
                }
                else
                    upDown($(e.currentTarget).parent().parent().parent());
            })
            $('.function').click(function (e) {
                if ($(e.currentTarget).attr('class').indexOf('search') != -1)
                    upDown($('#content-search'));
                else if ($(e.currentTarget).attr('class').indexOf('add') != -1) {
                    $('#part-add').removeClass('d-none');
                }
            })
            $('.text-view').click(function () {
                $('.header-view-list').toggleClass('d-none');
                $('.header-sort-list').addClass('d-none');
            })
            $('.text-sort').click(function () {
                $('.header-sort-list').toggleClass('d-none');
                $('.header-view-list').addClass('d-none');
            })
            $('.btn-sort').click(function () {
                for (let e of $(this).parent().children()) {
                    console.log($(e).val() + "\n");
                }
                $('.header-sort-list').addClass('d-none');
            })
            $('#btn-view').click(function () {
                for (let item of $('.view-item')) {
                    if (nameObj[$(item).val()]) {
                        if ($(item).prop('checked')) {
                            nameObj[$(item).val()].using = true;
                        } else {
                            nameObj[$(item).val()].using = false;
                        }
                    }
                }
                loadPage();
            })
            $('.view-item:first').change(function () {
                if ($(this).prop('checked')) {
                    $('.view-item').prop('checked', true);
                } else {
                    $('.view-item').prop('checked', false);
                }
            })
            $('#so-luong-hang').change(function () {
                if ($(this).val() > 100)
                    $(this).val(100);
            })
            $('#btn-accept-size-page').click(function () {
                pageSize = parseInt($('#so-luong-hang').val());
                load();
            })
            $('#table-select-all').change(function () {
                if ($(this).prop('checked')) {
                    $('.table-select').prop('checked', true);
                } else {
                    $('.table-select').prop('checked', false);
                }
            })
        }
        var edit = function (e) {
            let edit = $(e).parent().parent();
            let id = edit.attr('id');
            let date = edit.children(`#${nameObj[names[3]].id}-${id}`).text();
            let result = {
                 ['"' + nameObj[names[0]].id + '"'] : edit.children(`#${nameObj[names[0]].id}-${id}`).text(),
                 ['"' + nameObj[names[1]].id + '"'] : edit.children(`#${nameObj[names[1]].id}-${id}`).text(),
                 ['"' + nameObj[names[2]].id + '"'] : edit.children(`#${nameObj[names[2]].id}-${id}`).text(),
                 ['"' + nameObj[names[3]].id + '"'] : date.slice(6, 10) + "-" + date.slice(3, 5) + "-" + date.slice(0, 2),
                 ['"' + nameObj[names[4]].id + '"'] : edit.children(`#${nameObj[names[4]].id}-${id}`).text(),
                 ['"' + nameObj[names[5]].id + '"'] : edit.children(`#${nameObj[names[5]].id}-${id}`).text(),
                 ['"' + nameObj[names[6]].id + '"'] : edit.children(`#${nameObj[names[6]].id}-${id}`).text(),
                 ['"' + nameObj[names[7]].id + '"'] : edit.children(`#${nameObj[names[7]].id}-${id}`).text(),
                 ['"' + nameObj[names[8]].id + '"'] : edit.children(`#${nameObj[names[8]].id}-${id}`).text()
            }
            $('td').removeClass('d-none');
            edit.children('td').addClass('d-none');
            $('.form-edit').remove();
            edit.html(edit.html() + `<td colspan="12" id="form-edit-${id}" class="form-edit">${createForm(result, 'edit')}</td>`);
        }
        var cancel = function (e) {
            let edit = $(e).parent().parent().parent().parent().parent().parent().parent();
            let id = edit.attr('id');
            edit.children('td').removeClass('d-none');
            edit.children(`#form-edit-${id}`).addClass('d-none');
        }
        var resert = function (e) {
            let editor = $(e).parent().parent().parent().parent().parent();
            console.log(editor)
            if (editor.attr('id') == 'edit') {
                edit(editor);
            } else if (editor.attr('id') == 'add') {
                $('#add').remove();
                $('#content-add').html($('#content-add').html() + createForm({}, 'add'));
            } else if (editor.attr('id') == 'search') {
                $('#search').remove();
                $('#content-search').html($('#content-search').html() + createForm({}, 'search'));
            }
        }
        var toPage = function (index) {
            page = index;
            load();
        }
        loadPage()
    </script>
}